.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Popup */
.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 40%;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 450;
  border-radius: 20px;
  border: 2px solid #000000;
  box-shadow: rgba(0, 0, 0, .5) 0 2px 4px 0;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}


.next-button, .previous-button, .initial-button {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  outline: none;
  outline: 0;
  padding: 5px 10px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  height: 4rem;
}

.next-button, .initial-button {
  background-color: #008a00;
  border: 1px solid #008a00;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.initial-button {
  float: center;
}

.next-button {
  margin-right: 10%;
  float: right;
}

.previous-button {
  background-color: #525553;
  border: 1px solid #525553;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin-left: 10%;
  float: left;
}

.next-button:hover, .previous-button:hover, .initial-button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .next-button, .previous-button, .initial-button {
    padding: 10px 30px;
  }
}

/* CSS for the mock google page */
.google-outline-red {
  border: 1px solid #ff0000;
}

.google-outline-grey {
  border: 1px solid #dfe1e5;
}

.google-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.google-result {
  object-fit: scale-down;
  height: 85vh;
  width: 95vw;
}

#google-logo {
  padding: 20px;
}

.google-button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: Roboto,arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
}

.google-button:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124
}

.google-button:focus {
  border: 1px solid #4285f4;
  outline: none
}

.google-textarea {
  display: flex;
  z-index: 3;
  min-height: 44px;
  background: #fff;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: 638px;
  max-width: 584px;
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.google-textarea > input {
  font-family: Roboto,arial,sans-serif;
  line-height: 22px;
  margin-bottom: 8px;
  resize: none;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  -webkit-tap-highlight-color: transparent;  
  font-size: 16px;
  flex: 100%;
}

.google-search-icon > svg {
  color: #9aa0a6;
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
  height: 46px;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.google-search-icon {
  margin: auto;
  margin-top: 3px;
  color: #9aa0a6;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}